body{
    background-image: url("images/ps.jpg");
    background-color: navy;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: whitesmoke;
}
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer{
    text-align: center;
    margin-right: 200px;
}
#meme{
    margin-right: 200px;
    width: 300px;
}
h1{
    text-align: center;
}
form{
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: transparent);
    border: 4px transparent);
    gap: 1rem;
}
input[type=text]{
    background-color: rebeccapurple;
    
    width: 500px;
}
input, select textarea{
    color:cornsilk;
}
input[type=submit]{
    background-color: orangered;
}